 body {
    margin: 0;
    padding: 0;
    background: rgb(237, 240, 237);
}

.container {
    width: 470px;
    height: 600px;
    background-image: url('blue-background.jpg');
    background-size: cover;
    background-position: center;
    border: 4px solid rgb(16, 140, 178);
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(67, 9, 214, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    padding: 30px;
    margin: 40px auto;
    
}


h1 {
    color: rgb(5, 5, 5);
    margin-bottom: 20px;
    border-bottom: 2px solid;
    padding-bottom: 5px;
    
}

.highlight {
    background: rgb(14, 148, 174);
}

.title-line {
    border: none;
    height: 3px;
    background-color: rgb(19, 117, 147);  
    width: 2xpx;
    margin: 0 0 15px 0;
}


.quote {
    background: rgb(4, 130, 213);
    border-left: 5px solid rgb(19, 117, 147);
    padding: 15px;
    margin: 25px 0;
    font-style: italic;
}

.author {
    display: flex;
    align-items: center;
    background: rgb(7, 125, 210);
    padding: 20px;
    border-radius: 8px;
    margin-top: 10px;

}

.aut-img {
    width: 70px;
    height: 80px;
    border-radius: 5px;
    margin-right: 15px;
    object-fit: cover;
}

.foot {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    background: rgb(7, 111, 246);
    color: rgb(22, 15, 1);
    padding: 12px 20px;
    border-radius: 6px;
    font-weight: bold;
}

.publisher {
    color: rgb(7, 6, 6);
}
